{% autoescape off %}
Vous recevez cet e-mail parce que vous avez demandé une réinitialisation du mot de passe pour votre compte sur LUXE.

Veuillez aller sur la page suivante et choisir un nouveau mot de passe :

{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

Votre nom d'utilisateur, au cas où vous l'auriez oublié : {{ user.get_username }}

Si vous n'avez pas demandé de réinitialisation, vous pouvez ignorer cet e-mail.

L'équipe LUXE.
{% endautoescape %}
